$statsbar: #666666
$locations: blue
$mycamp: red

#statsbar
  background-color: $statsbar
  width: 200px
  height: 400px
  display: inline-block
  #gametitle
    width: 150px
    height: 150px
    background-color: yellow

#explorecity
  background-color: $locations
  padding: 20px
  display: inline-block
  height: 400px
  width: 1000px
  .district
    width: 250px
    height: 250px
    display: inline-block
    .explorebutton
      color: red
  #suburbs
    background-color: red
  #downtown
    background-color: green
  #wharf
    background-color: #666666
  #doneexploring
    color: blue

#mycamp
  background-color: $mycamp
  height: 400px
  width: 1200px
