<div id="mycamp">
<div class="hometab">Available Recipes
</div>
<div class="hometab">Your Stuff</div>
<div id="openrecipes" class="camppanel">
<p>List of available crafting recipes:</p>
<div id="recipelist">list</div>
  <div id="currentrecipe">Current Recipe Selection
    <button>Craft</button>
  </div>
</div>
<!-- <div id="allitems" class="camppanel">
All of the things you have to restart civilization.
</div> -->
  End the turn.  Make sure you're finished with exploring and crafting.
  Return to camp with everything you've scavenged.  Materials stocks and recipes are updated with what you just found.  Your latest crafts take effect for your base camp and party.  The day is over.
  <button id="endturn">End Turn</button>
</div>
