<div id="explorecity">
  <div id="suburbs" class="district"><p>SUBURBS</p>
  <img class="locationimg" src="">
  <div class="locationstats">
    <span class="locname">location name</span>
    <table>
      <tr class="quick">
        <td>Zombies:</td>
        <td>0-1</td>
      </tr>
      <tr class="cautious">
        <td>Zombies:</td>
        <td>1-3</td>
      </tr>
      <tr class="full">
        <td>Zombies:</td>
        <td>2-5</td>
      </tr>
    </table>
  </div>
  <p class="flavtxt">Flavor text</p>
  <button id="subq" class="explorebutton">Quick Search</button>
  <button id="subc" class="explorebutton">Cautious Search</button>
  <button id="subf" class="explorebutton">Full Search</button>
  <button id="sube" class="explorebutton">Explore New Location</button>
  </div>
  <div id="downtown" class="district"><p>DOWNTOWN</p>
  <img class="locationimg" src="">
  <div class="locationstats">
    <span class="locname">location name</span>
    <table>
      <tr class="quick">
        <td>Zombies:</td>
        <td>0-1</td>
      </tr>
      <tr class="cautious">
        <td>Zombies:</td>
        <td>1-3</td>
      </tr>
      <tr class="full">
        <td>Zombies:</td>
        <td>2-5</td>
      </tr>
    </table>
  </div>
  <p class="flavtxt">Flavor text</p>
  <button id="dowq" class="explorebutton">Quick Search</button>
  <button id="dowc" class="explorebutton">Cautious Search</button>
  <button id="dowf" class="explorebutton">Full Search</button>
  <button id="dowe" class="explorebutton">Explore New Location</button></div>
  <div id="wharf" class="district"><p>WHARF</p>
  <img class="locationimg" src="">
  <div class="locationstats">
    <span class="locname">location name</span>
    <table>
      <tr class="quick">
        <td>Zombies:</td>
        <td>0-1</td>
      </tr>
      <tr class="cautious">
        <td>Zombies:</td>
        <td>1-3</td>
      </tr>
      <tr class="full">
        <td>Zombies:</td>
        <td>2-5</td>
      </tr>
    </table>
  </div>
  <p class="flavtxt">Flavor text</p>
  <button id="whaq" class="explorebutton">Quick Search</button>
  <button id="whac" class="explorebutton">Cautious Search</button>
  <button id="whaf" class="explorebutton">Full Search</button>
  <button id="whae" class="explorebutton">Explore New Location</button></div>
  <div id="explorerstats"><table>Your party stats:
    <tr>
      <td>Attack</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Actions</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Reckless</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Thorough</td>
      <td>0</td>
    </tr>
  </table></div>
</div>
