<div id="statsbar">
<div id="gametitle">GAME TITLE BOX</div>
<table>
  <tr>
    <td>Turns</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Food</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Tools</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Common Materials</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Uncommon Materials</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Rare Materials</td>
    <td>0</td>
  </tr>
</table>
</div>
