<div id="statsbar">
<div id="gametitle">GAME TITLE BOX
<p>Welcome to DYLA 2</p>
<p>You live amongst zombies, do what you must to survive.</p>
</div>
<table>
  <tr>
    <td>Turns</td>
    <td class="sidebarstat" id="sidebarturns">0</td>
  </tr>
  <tr>
    <td>Food</td>
    <td class="sidebarstat" id="sidebarfood">0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td class="sidebarstat" id="sidebarmorale">0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td class="sidebarstat" id="sidebarshelter">0</td>
  </tr>
  <tr>
    <td>Tools</td>
    <td class="sidebarstat" id="sidebartools">0</td>
  </tr>
  <tr>
    <td>Common Materials</td>
    <td class="sidebarstat" id="sidebarcommon">0</td>
  </tr>
  <tr>
    <td>Uncommon Materials</td>
    <td class="sidebarstat" id="sidebaruncommon">0</td>
  </tr>
  <tr>
    <td>Rare Materials</td>
    <td class="sidebarstat" id="sidebarrare">0</td>
  </tr>
</table>
<div id="currentevent">Event: None</div>
</div>
