<h1>Welcome to Dyla 2</h1>
<h3>Zombies run amok and you are stranded in the city, do what you must to survive.</h3>
<button id="test">TEST BUTTON</button>

<!-- Game info -->
<div id="eventinfo" dataevents="<%= @events.to_json %>"></div>
<div id="locationinfo" datalocations="<%= @locations.to_json %>"></div>
<div id="itemsinfo" dataitems="<%= @items.to_json %>"></div>
<div id="recipesinfo" datarecipes="<%= @recipes.to_json %>"></div>

<div id="statsbar">
<div id="gametitle">GAME TITLE BOX</div>
<table>
  <tr>
    <td>Turns</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Food</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Tools</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Common Materials</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Uncommon Materials</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Rare Materials</td>
    <td>0</td>
  </tr>
</table>
</div>

<div id="explorecity">
City locations available go here.
<table>Your party stats:
  <tr>
    <td>Attack</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Actions</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Reckless</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Thorough</td>
    <td>0</td>
  </tr>
</table>
</div>

<div id="mycamp">
Your home base is here.
</div>
