<div id="my-camp">
  <div class="home-tab">Available Recipes
  </div>
  <div class="home-tab">Your Stuff</div>
  <div id="open-recipes" class="camp-panel">
  <p>List of available crafting recipes:</p>
    <div id="recipe-list">
      <table class="recipe-table">
      </table>
    </div>
    <div id="current-recipe">
      <p class="rec-name">Name</p>
      <p class="rec-flav"></p>
      <table class="current-recipe-table">
        <tr>
          <td>
            Tools needed:
          </td>
          <td class="rec-tools">
            0
          </td>
        </tr>
        <tr>
          <td>
            Materials needed:
          </td>
          <td class="rec-mats">
            None
          </td>
        </tr>
        <tr>
          <td>
            Effect:
          </td>
          <td class="rec-effect">
            None
          </td>
        </tr>
      </table>
      <button class="craft-button">Craft this!</button>
    </div>
  </div>
<!-- <div id="allitems" class="camppanel">
All of the things you have to restart civilization.
</div> -->
  <div id="EoT-button">
    Make sure you're finished with exploring and crafting.
    Return to camp with everything you've scavenged.  Materials stocks and recipes are updated with what you just found.  Your latest crafts take effect for your base camp and party.  The day is over, and the event is resolved.<br>
    <button id="end-turn">End Turn</button>
  </div>
</div>
