<div id="my-camp">
  <div id="recipes-tab" class="home-tab tab-active">Available Recipes
  </div>
  <div id="stuff-tab" class="home-tab tab-inactive">Crafted</div>
  <div id="open-recipes" class="camp-panel">
    <div id="recipe-list">
      <table class="recipe-table">
      </table>
    </div>
    <div id="current-recipe">
      <button class="craft-button">Craft this!</button><span class="rec-name">Nothing</span>
      <span class="rec-flav">Nothing</span>
      <table class="current-recipe-table">
        <tr>
          <td>
            Tools needed:
          </td>
          <td class="rec-tools">
            0
          </td>
        </tr>
        <tr>
          <td>
            Materials needed:
          </td>
          <td class="rec-mats">
            None
          </td>
        </tr>
        <tr>
          <td>
            Effect:
          </td>
          <td class="rec-effect">
            None
          </td>
        </tr>
      </table>
    </div>
  </div>
<div id="all-items" class="camp-panel">
</div>
  <div id="EoT-button">
    Return to camp.  Gain newly found items and recipes.  Crafted recipes now take effect and add their bonuses.  The day is over, and the event is resolved.<br>
    <button id="end-turn">End Turn</button>
  </div>
</div>
