<div id="my-camp">
  <div id="recipes-tab" class="home-tab tab-active">Available Recipes
  </div>
  <div id="stuff-tab" class="home-tab tab-inactive">Crafted</div>
  <div id="open-recipes" class="camp-panel">
  <p>List of available crafting recipes:</p>
    <div id="recipe-list">
      <table class="recipe-table">
      </table>
    </div>
    <div id="current-recipe">
      <button class="craft-button">Craft this!</button><span class="rec-name">Nothing</span>
      <span class="rec-flav">Nothing</span>
      <table class="current-recipe-table">
        <tr>
          <td>
            Tools needed:
          </td>
          <td class="rec-tools">
            0
          </td>
        </tr>
        <tr>
          <td>
            Materials needed:
          </td>
          <td class="rec-mats">
            None
          </td>
        </tr>
        <tr>
          <td>
            Effect:
          </td>
          <td class="rec-effect">
            None
          </td>
        </tr>
      </table>
    </div>
  </div>
<div id="all-items" class="camp-panel">
</div>
  <div id="EoT-button">
    Make sure you're finished with exploring and crafting.
    Return to camp with everything you've scavenged.  Materials stocks and recipes are updated with what you just found.  Your latest crafts take effect for your base camp and party.  The day is over, and the event is resolved.<br>
    <button id="end-turn">End Turn</button>
  </div>
</div>
