<div id="explore-city">
  <div id="suburbs" class="district"><p>SUBURBS</p>
  <img class="location-img" src="">
  <div class="location-stats">
    <span class="loc-name">location name</span>
    <table>
      <tr class="quick">
        <td><span class="qmin">-</span>-<span class="qmax">-</span> zombies</td>
        <td><button id="subq" class="explore-button">Quick Search</button></td>
      </tr>
      <tr class="cautious">
        <td><span class="cmin">-</span>-<span class="cmax">-</span> zombies</td>
        <td><button id="subc" class="explore-button">Cautious Search</button></td>
      </tr>
      <tr class="full">
        <td><span class="fmin">-</span>-<span class="fmax">-</span> zombies</td>
        <td><button id="subf" class="explore-button">Full Search</button></td>
      </tr>
    </table>
  </div>
  <div class="flavtxt">Flavor text</div>
  <button id="sube" class="new-loc-button">Explore New Location</button>
  </div>
  <div id="downtown" class="district"><p>DOWNTOWN</p>
  <img class="location-img" src="">
  <div class="location-stats">
    <span class="loc-name">location name</span>
    <table>
      <tr class="quick">
        <td><span class="qmin">-</span>-<span class="qmax">-</span> zombies</td>
        <td><button id="dowq" class="explore-button">Quick Search</button></td>
      </tr>
      <tr class="cautious">
        <td><span class="cmin">-</span>-<span class="cmax">-</span> zombies</td>
        <td><button id="dowc" class="explore-button">Cautious Search</button></td>
      </tr>
      <tr class="full">
        <td><span class="fmin">-</span>-<span class="fmax">-</span> zombies</td>
        <td><button id="dowf" class="explore-button">Full Search</button></td>
      </tr>
    </table>
  </div>
  <div class="flavtxt">Flavor text</div>
  <button id="dowe" class="new-loc-button">Explore New Location</button></div>
  <div id="wharf" class="district"><p>WHARF</p>
  <img class="location-img" src="">
  <div class="location-stats">
    <span class="loc-name">location name</span>
    <table>
      <tr class="quick">
        <td><span class="qmin">-</span>-<span class="qmax">-</span> zombies</td>
        <td><button id="whaq" class="explore-button">Quick Search</button></td>
      </tr>
      <tr class="cautious">
        <td><span class="cmin">-</span>-<span class="cmax">-</span> zombies</td>
        <td><button id="whac" class="explore-button">Cautious Search</button></td>
      </tr>
      <tr class="full">
        <td><span class="fmin">-</span>-<span class="fmax">-</span> zombies</td>
        <td><button id="whaf" class="explore-button">Full Search</button></td>
      </tr>
    </table>
  </div>
  <div class="flavtxt">Flavor text</div>
  <button id="whae" class="new-loc-button">Explore New Location</button></div>
  <p></p>
  <div id="current-event"><span class="event-name"></span><br>
    <span class="event-txt"></span><br>
    <span class="event-effect"></span></div>
  <div id="explorer-stats"><table>
    <tr>
      <td>Attack</td>
      <td class="party-stat" id="party-attack">0</td>
    </tr>
    <tr>
      <td>Actions</td>
      <td class="party-stat" id="party-actions">0</td>
    </tr>
    <tr>
      <td>Reckless</td>
      <td class="party-stat" id="party-reckless">0</td>
    </tr>
    <tr>
      <td>Thorough</td>
      <td class="party-stat" id="party-thorough">0</td>
    </tr>
  </table></div>
  <div class="game-log"><table id="game-msg"></table></div>
</div>
