<div id="explorecity">
  <div id="suburbs" class="district"><p>SUBURBS</p>
  <img class="locationimg" src="">
  <div class="locationstats">
    <span class="locname">location name</span>
    <table>
      <tr class="quick">
        <td>Zombies:</td>
        <td><span class="qmin">-</span>-<span class="qmax">-</span></td>
        <td><button id="subq" class="explorebutton">Quick Search</button></td>
      </tr>
      <tr class="cautious">
        <td>Zombies:</td>
        <td><span class="cmin">-</span>-<span class="cmax">-</span></td>
        <td><button id="subc" class="explorebutton">Cautious Search</button></td>
      </tr>
      <tr class="full">
        <td>Zombies:</td>
        <td><span class="fmin">-</span>-<span class="fmax">-</span></td>
        <td><button id="subf" class="explorebutton">Full Search</button></td>
      </tr>
    </table>
  </div>
  <div class="flavtxt">Flavor text</div>
  <button id="sube" class="explorebutton">Explore New Location</button>
  </div>
  <div id="downtown" class="district"><p>DOWNTOWN</p>
  <img class="locationimg" src="">
  <div class="locationstats">
    <span class="locname">location name</span>
    <table>
      <tr class="quick">
        <td>Zombies:</td>
        <td><span class="qmin">-</span>-<span class="qmax">-</span></td>
        <td><button id="dowq" class="explorebutton">Quick Search</button></td>
      </tr>
      <tr class="cautious">
        <td>Zombies:</td>
        <td><span class="cmin">-</span>-<span class="cmax">-</span></td>
        <td><button id="dowc" class="explorebutton">Cautious Search</button></td>
      </tr>
      <tr class="full">
        <td>Zombies:</td>
        <td><span class="fmin">-</span>-<span class="fmax">-</span></td>
        <td><button id="dowf" class="explorebutton">Full Search</button></td>
      </tr>
    </table>
  </div>
  <div class="flavtxt">Flavor text</div>
  <button id="dowe" class="explorebutton">Explore New Location</button></div>
  <div id="wharf" class="district"><p>WHARF</p>
  <img class="locationimg" src="">
  <div class="locationstats">
    <span class="locname">location name</span>
    <table>
      <tr class="quick">
        <td>Zombies:</td>
        <td><span class="qmin">-</span>-<span class="qmax">-</span></td>
        <td><button id="whaq" class="explorebutton">Quick Search</button></td>
      </tr>
      <tr class="cautious">
        <td>Zombies:</td>
        <td><span class="cmin">-</span>-<span class="cmax">-</span></td>
        <td><button id="whac" class="explorebutton">Cautious Search</button></td>
      </tr>
      <tr class="full">
        <td>Zombies:</td>
        <td><span class="fmin">-</span>-<span class="fmax">-</span></td>
        <td><button id="whaf" class="explorebutton">Full Search</button></td>
      </tr>
    </table>
  </div>
  <div class="flavtxt">Flavor text</div>
  <button id="whae" class="explorebutton">Explore New Location</button></div>
  <p></p>
  <div id="currentevent"><span class="eventname"></span><br>
    <span class="eventtxt"></span><br>
    <span class="eventeffect"></span></div>
  <div id="explorerstats"><table>
    <tr>
      <td>Attack</td>
      <td class="partystat" id="partyattack">0</td>
    </tr>
    <tr>
      <td>Actions</td>
      <td class="partystat" id="partyactions">0</td>
    </tr>
    <tr>
      <td>Reckless</td>
      <td class="partystat" id="partyreckless">0</td>
    </tr>
    <tr>
      <td>Thorough</td>
      <td class="partystat" id="partythorough">0</td>
    </tr>
  </table></div>
  <div class="gamelog"><span id="gameMsg"></span></div>
</div>
