<div id="end-screen">
Winter has arrived, you party has:
<table>
  <tr>
    <td>Food</td>
    <td id="final-food">0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td id="final-morale">0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td id="finale-shelter">0</td>
  </tr>
</table>

Outcome:
<span id="win-or-lose"></span>
</div>
