<div id="end-screen">
<h2>Winter has arrived.  Are you prepared?  Looks like your party has:</h2>
<table>
  <tr>
    <td>Food</td>
    <td id="final-food">0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td id="final-morale">0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td id="final-shelter">0</td>
  </tr>
</table>

<h3>Over the coming months:</h3>
<h3><span class="win-lose-msg" id="food-win-lose"></span></h3>
<h3><span class="win-lose-msg" id="morale-win-lose"></span></h3>
<h3><span class="win-lose-msg" id="shelter-win-lose"></span></h3>
<button id="replay-game">Play New Game</button>
</div>
