<div id="end-screen">
<h2>The first storm of winter has arrived.  Across the frigid waters, a dead city lies in silence.</h2>
<h3>How prepared are you?  Looks like your party has:</h3>
<table>
  <tr>
    <td>Food</td>
    <td id="final-food">0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td id="final-morale">0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td id="final-shelter">0</td>
  </tr>
</table>

<h2>Over the coming months:</h2>
<h2><span class="win-lose-msg" id="food-win-lose"></span></h2>
<h2><span class="win-lose-msg" id="morale-win-lose"></span></h2>
<h2><span class="win-lose-msg" id="shelter-win-lose"></span></h2>
<button id="replay-game">Play New Game</button>
</div>
