<div id="rules">
  <button class="start-button">I get it, back to the game!</button>
  <h1>Welcome to Dyla 2 - Zombies, Winter, Free Stuff!</h1>
  <h3>You're stranded on a small island, off the coast of a city overrun by zombies.  The island is safe, but you need to spruce it up a bit.  You have a little boat, venture into the city and help yourself.  This being the apocalypse, shit happens and life sucks...deal with it.  Oh yea, and also winter is coming in 10 days.</h3>
  <h1>Game Rules: Real simple.  Explore and craft.</h1>
  <h2>Explore the city. Everything you do costs <span class="combat">1 action</span>.</h2>
  <p>1. Explore a revealed location in the Suburbs, Downtown, or Wharf.  You will encounter a random number of <span class="combat">zombies</span> depending on your search type, if your <span class="combat">attack</span> rating meets or exceeds the zombie number you acquire loot.  If the zombies overwhelm you, you flee emptyhanded and <span class="combat">might lose 1 morale</span>.  A quick search is usually safe but you won't find much, a full search is riskier but can yield greater rewards.  <span class="reckthor">Reckless</span> raises the upper range on the zombie roll, <span class="reckthor">Thorough</span> gives you more items from a search.</p>
  <p>2. Explore a NEW location.  If the current location sucks, discover a new one.</p>
  <p>All items and recipes you find will be resolved at the end of the turn, when you return to camp to examine your loot.</p>
  <h2>Craft items</h2>
  <p>You will come across broken items that need repair, or you can create new items given the right materials.  Crafting materials are <span class="materials">common, uncommon, and rare</span> grade.</p>
  <p>Select an available recipe from the list, clicking the <span class="craft">craft button</span> will attempt to craft that item.  If successful, the bonuses are received at the end of the turn.</p>
  <p>You may view a list of crafts you have created on the <span class="craft">"Crafted" tab</span>.</p>
  <h2>End the turn</h2>
  <p>When you're done exploring and crafting, <span class="end">End the Turn</span> and acquire all the items, recipes, and crafts from the turn actions for your party.  A day passes.</p>
  <h2>Winning</h2>
  <p>Once enough days have passed and winter hits, your <span class="end">Food(25), Morale(10), and Shelter(10)</span> will determine if you survive the winter.  If you cannot obtain enough to win, you might still get enough to survive at least.</p>
  <button class="start-button">I get it, back to the game!</button>
</div>
