<div id="stats-bar">
<div id="game-title">GAME TITLE BOX
<p>Welcome to DYLA 2</p>
<p>You live amongst zombies, do what you must to survive.</p>
</div>
<table>
  <tr>
    <td>Days</td>
    <td class="sidebar-stat" id="sidebar-turns">0</td>
  </tr>
  <tr>
    <td>Food</td>
    <td class="sidebar-stat" id="sidebar-food">0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td class="sidebar-stat" id="sidebar-morale">0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td class="sidebar-stat" id="sidebar-shelter">0</td>
  </tr>
  <tr>
    <td>Tools</td>
    <td class="sidebar-stat" id="sidebar-tools">0</td>
  </tr>
  <tr>
    <td>Common Materials</td>
    <td class="sidebar-stat" id="sidebar-common">0</td>
  </tr>
  <tr>
    <td>Uncommon Materials</td>
    <td class="sidebar-stat" id="sidebar-uncommon">0</td>
  </tr>
  <tr>
    <td>Rare Materials</td>
    <td class="sidebar-stat" id="sidebar-rare">0</td>
  </tr>
</table>
</div>
