<div id="stats-bar">
<!-- <div id="game-title"><img src="/assets/gametitle.jpg"/>
</div> -->
<button class="start-button">Show Rules</button>
<p></p>
<table>
  <tr>
    <td>Days</td>
    <td class="sidebar-stat" id="sidebar-turns">0</td>
  </tr>
</table>
<p style="color: yellow">Win conditions:</p>
<table>
  <tr>
    <td>Food</td>
    <td class="sidebar-stat" id="sidebar-food">0</td>
  </tr>
  <tr>
    <td>Morale</td>
    <td class="sidebar-stat" id="sidebar-morale">0</td>
  </tr>
  <tr>
    <td>Shelter</td>
    <td class="sidebar-stat" id="sidebar-shelter">0</td>
  </tr>
</table>
<p style="color: yellow">Crafting:</p>
<table>
  <tr>
    <td>Tools</td>
    <td class="sidebar-stat" id="sidebar-tools">0</td>
  </tr>
  <tr>
    <td>Common</td>
    <td class="sidebar-stat" id="sidebar-common">0</td>
  </tr>
  <tr>
    <td>Uncommon</td>
    <td class="sidebar-stat" id="sidebar-uncommon">0</td>
  </tr>
  <tr>
    <td>Rare</td>
    <td class="sidebar-stat" id="sidebar-rare">0</td>
  </tr>
</table>
</div>
