
$mycamp: red
$verydark: #1A1A1A
$dark: #333333
$meddark: #4C4C4C
$med: #666666
$medlight: #808080
$light: #999999
$verylight: #CCCCCC
$zred: #FF9999
$zgreen: #99E699
$zyellow: #FFFF99

html
  body
    background-color: $light
    font-size: 16px
    font-family: "Times New Roman", Times, serif
#statsbar
  padding: 20px
  background-color: $med
  color: white
  width: 200px
  height: 400px
  display: inline-block
  vertical-align: bottom
  #gametitle
    width: 200px
    height: 160px
    background-color: $verydark
    border: 2px solid $meddark
  .sidebar-stat
    width: 30px
    text-align: center
    border: 1px solid $dark
    color: yellow

#explorecity
  background-color: $verydark
  padding: 20px
  display: inline-block
  vertical-align: bottom
  height: 400px
  width: 1000px
  .district
    text-align: center
    color: $verylight
    padding: 10px
    width: 300px
    height: 250px
    display: inline-block
    vertical-align: bottom
    .explorebutton
      color: $verydark
    .locationimg
      width: 125px
      height: 125px
      display: inline-block
      vertical-align: bottom
    .locationstats
      width: 160px
      height: 125px
      background-color: white
      color: black
      display: inline-block
      vertical-align: bottom
      .locname
        color: blue
      .quick
        background-color: $zgreen
      .cautious
        background-color: $zyellow
      .full
        background-color: $zred
    .flavtxt
      color: black
      margin: 5px auto 5px auto
      height: 50px
      width: 280px
      background-color: $verylight
      font-style: italic
  #suburbs
    background-color: $dark
  #downtown
    background-color: $meddark
  #wharf
    background-color: $med
  #currentevent
    text-align: center
    width: 300px
    height: 100px
    background-color: $light
    display: inline-block
    vertical-align: bottom
    .eventname
      font-size: 20px
    .eventtxt
      font-style: italic
    .eventeffect
      font-size: 20px
  #explorerstats
    height: 100px
    background-color: $medlight
    display: inline-block
    vertical-align: bottom
  .partystat
    color: white
    width: 30px
    text-align: center
    border: 1px solid $meddark
  .gamelog
    width: 400px
    height: 100px
    background-color: white
    display: inline-block
    vertical-align: bottom
    overflow: scroll
    #gameMsg

#mycamp
  padding: 20px
  margin-top: 5px
  background-color: $meddark
  color: $verylight
  height: 340px
  width: 1200px
  .hometab
    width: 200px
    height: 30px
    background-color: #333333
    display: inline-block
  .camppanel
    padding: 20px
    height: 250px
    width: 850px
    background-color: #333333
    display: inline-block
    vertical-align: bottom
    #recipelist
      width: 400px
      height: 200px
      background-color: white
      display: inline-block
      vertical-align: bottom
    #currentrecipe
      width: 400px
      height: 200px
      background-color: yellow
      display: inline-block
      vertical-align: bottom
  #EoTbutton
    display: inline-block
    vertical-align: bottom
    padding: 20px
    width: 260px
    height: 250px
    background-color: white
    color: $verydark
  #endturn
    width: 150px
    height: 50px
    color: red
    font-size: 20px
    text-align: center
    border: 1px solid black
